<!doctype html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>About <%=shopName%></h1>
    <p>This is a London ratings forum page where users can access information regarding specific areas within London with a rating for each one.</p>
  </body>
</html>