<!doctype html>

<html>

<head>

<link rel="stylesheet" type="text/css" href="main.css" />

</head>

<body>

<h1><%=shopName%>: Add a book</h1>

<form method="POST" action="/addanarea">

<p>Area name: <input id="area" type="text" name="area" /></p>

<p>Rating (out of 10): <input id="rating" type="text" name="rating" /></p>

<input type="submit" value="Add area" />

</form>

</body>

</html>
