<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopName%></h1>
    <p><a href="aboutlondon">About <%=shopName%></a></p>
    <p><a href="search">Search for areas</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="addanarea">Add an area</a></p>
    <p><a href="listofareas"> List of areas</a></p>
    <p><a href="review"> review of areas</a></p>
  </body>
</html>
