<!doctype html>

<html>

  <head>

    <link rel="stylesheet"  type="text/css" href="/main.css" />

  </head>

  <body>

    <h1><%=shopName%></h1>

    <h2>Here are a list of areas in London</h2>

    <ul>

      <% availablearea.forEach(function(areaRatings) { %>

        <li><%= areaRatings.area %>, <%=areaRatings.rating%> </li>

      <% }) %>

    </ul>

    </body>
    
</html>