<!doctype html>                                                                                                                                                     

                                                                                                                                                                    

<html>                                                                                                                                                              

                                                                                                                                                                    

<head>                                                                                                                                                              

                                                                                                                                                                    

<link rel="stylesheet"  type="text/css" href="main.css" />                                                                                                          

                                                                                                                                                                    

</head>                                                                                                                                                             

                                                                                                                                                                    

<body>                                                                                                                                                              

                                                                                                                                                                    

<h1><%=shopName%> </h1>                                                                                                                                         

                                                                                                                                                                    

<h2>Here are the areas that you have searched for:</h2>                                                                                                                               

                                                                                                                                                                    

<ul>                                                                                                                                                                

                                                                                                                                                                    

<% for(let i = 0; i < availableareaRatings.length; i++) { %>                                                                                                              

                                                                                                                                                                    

<li><%= availableareaRatings[i].area + "" + availableareaRatings[i].rating  %></li>                                                                                              

                                                                                                                                                                    

<% } %>                                                                                                                                                             

                                                                                                                                                                    

</ul>                                                                                                                                                               

                                                                                                                                                                    

</body>                                                                                                                                                             

                                                                                                                                                                    

</html>
